{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "printWidth": 100,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "importOrder": ["^react$", "^@?\\w", "^@/components/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
